<!DOCTYPE html>
<html>
<head>
  <title>Ritly</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<section>
<div class="container-fluid">
	
<%= render 'layouts/header' %>

</section>
	
<section>
	<div class="container">
		<%= yield %>
	</div>
	<div>
	<%= debug(params) if Rails.env.development? %>
	<%= debug(session) if Rails.env.development? %>
	<%= debug(cookies) if Rails.env.development? %>
	</div>
</section>

</div>

</body>
</html>
